.rs-table
{
    border-radius: 0 8px 8px;
}

.rs-table .rs-table-row
{
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.rs-table .rs-table-row.row-canceled
{
    color: gray;
}

.rs-table .rs-table-row.row-billed
{
    color: green;
}

.rs-table .rs-table-row.row-rejected
{
    color: #f44336;
}

.rs-table .rs-table-row .rs-table-cell
{
    background-color: transparent;
}

.rs-table .rs-table-row .rs-table-cell div.buttons
{
    margin-top: -5px;
    text-align: center;
}

.rs-table .rs-table-row .rs-table-cell div.buttons button
{
    width: 30px;
    height: 30px;
    padding: 6px;
    display: none;
    font-size: 16px;    
    background-color: transparent;
}

.rs-table .rs-table-row .rs-table-cell div.buttons button svg
{
    top: 1px;
    position: relative;
}

.rs-table .rs-table-row .rs-table-cell div.buttons button:nth-child(1)
{
    color: #ff9800;
}

.rs-table .rs-table-row .rs-table-cell div.buttons button:nth-child(2),
.rs-table .rs-table-row .rs-table-cell div.buttons button:nth-child(3),
.rs-table .rs-table-row.row-rejected .rs-table-cell div.buttons button:nth-child(4)
{
    color: #f44336;
}

.rs-table .rs-table-row.row-canceled .rs-table-cell div.buttons button:nth-child(4)
{
    color: #03a9f4;
}

.rs-table .rs-table-row.row-opened div.buttons button:nth-child(2)
{
    display: inline-block;
}

.rs-table .rs-table-row.row-billed div.buttons button:nth-child(1),
.rs-table .rs-table-row.row-billed div.buttons button:nth-child(3),
.rs-table .rs-table-row.row-canceling div.buttons button:nth-child(3)
{
    display: inline-block;
}

.rs-table .rs-table-row.row-canceled div.buttons button:nth-child(4),
.rs-table .rs-table-row.row-rejected div.buttons button:nth-child(4)
{
    display: inline-block;
}

.rs-table .rs-table-row.row-selected,
.rs-table .rs-table-row.row-selected .rs-table-cell
{
    background-color: #feff99 !important;
}