.shadow .modal.modal-payment
{
    width: 440px;
    height: 448px;
}

.shadow .modal.modal-payment .header
{
    height: 100px;
    font-size: 60px;
    text-align: center;
    background-color: #03a9f4;
}

.shadow .modal.modal-payment .body
{
    top: 100px;
    padding: 0;
    bottom: 88px;
}

.shadow .modal.modal-payment .body .modality
{
    width: 100%;
    padding: 20px;
    display: table;
    position: relative;
}

.shadow .modal.modal-payment .body .modality img
{
    float: left;
    max-width: 68px;
    border-radius: 4px;
}

.shadow .modal.modal-payment .body .modality span
{
    float: left;
    margin: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.shadow .modal.modal-payment .body .modality svg
{
    top: 0;
    bottom: 0;
    right: 20px;
    display: none;
    margin: auto 0;
    font-size: 28px;
    color: #4caf50;
    position: absolute;
}

.shadow .modal.modal-payment .body .modality:hover,
.shadow .modal.modal-payment .body .modality.selected
{
    cursor: pointer;
    background-color: #222;
}

.shadow .modal.modal-payment .body .modality:hover svg,
.shadow .modal.modal-payment .body .modality.selected svg
{
    display: block;
}

.shadow .modal.modal-payment .body .modality:not(:last-child)
{
    border-bottom: 1px solid #333;
}

.shadow .modal.modal-payment .footer
{
    height: 88px;
    padding: 20px;
    text-align: center;
}

.shadow .modal.modal-payment .footer button
{
    color: #fff;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 4px;
    text-transform: uppercase;    
}

.shadow .modal.modal-payment .footer button:nth-child(1)
{
    float: left;
    background-color: #f44336;
}

.shadow .modal.modal-payment .footer button:nth-child(2)
{
    float: right;
    background-color: #03a9f4;
}