.shadow .modal.modal-authorization
{
    width: 560px;
    height: 460px;
}

.shadow .modal.modal-authorization .header
{
    height: 100px;
    font-size: 60px;
    text-align: center;
    background-color: #ff9800;
}

.shadow .modal.modal-authorization .body
{
    top: 100px;
    bottom: 88px;
    padding: 40px;
    text-align: center;
}

.shadow .modal.modal-authorization .body p
{
    font-size: 18px;
    margin-bottom: 20px;
}

.shadow .modal.modal-authorization .body form
{
    width: 300px;
    margin: auto;
    text-align: left;
}

.shadow .modal.modal-authorization .footer
{
    height: 88px;
    padding: 20px;
    text-align: center;
}

.shadow .modal.modal-authorization .footer button
{
    color: #fff;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 4px;
    text-transform: uppercase;    
}

.shadow .modal.modal-authorization .footer button svg
{
    float: left;
    font-size: 20px;
    margin-right: 5px;
}

.shadow .modal.modal-authorization .footer button:nth-child(2)
{
    float: right;
    background-color: #ff9800;
}

.shadow .modal.modal-authorization .footer button:nth-child(1)
{
    float: left;
    background-color: #666;
}