.Container
{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-color: #292929;
  /* background-image: url(../../assets/fundoContainer.jpg); */
}
.PanelPdv
{
  height: 100%;
  width: 1100px;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  align-items: center;
  background-size: cover;
  background-color: #292929;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-image: url(../../assets/panelFundo.jpg);
}
.PanelLeft
{ 
  width: 550px;
  height: 100%;
}
.Fields
{
  height: 75%;
  padding: 15px;
}
.PanelLeft .Shortcuts
{
  height: 10%;
  display: flex;
  align-items: center;
  background-color: #00a468; 
  justify-content: space-around;
}
.BtnShortcuts
{
  padding: 12px;
  font-size: 18px;
  color: #263238;
  font-weight: bold;
  border-radius: 4px;
  background-color: #00a468; 
  border: 2px solid #263238;
}
.BtnShortcuts:hover
{
  color: #e7eef1;
  border: 2px solid #2d8665;
  background-color: #2d8665;
}
.PanelLeft .CompanyInfo
{
  height:  11.5%;
  display: flex;
  padding: 0px 10px;  
  align-items: center;
}
.PanelLeft .CompanyInfo .CompanyImage
{
  width: 65px;
  height: 65px;
  margin-right: 7px;
  border-radius: 4px;
  background-size: cover;
  background-color: #434343;
  background-position: center;
  background-image: url(../../assets/empty.png);
}
.PanelLeft .CompanyInfo .CompanyName
{
  font-size: 20px;
  color: #e6e6e6;
  font-weight: bold;
}
.PanelRight
{ 
  width: 550px;
  height: 100%;
}
.Logo
{
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Image
{ 
  width: 228px;
  height: 128px;
  margin: 25px 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../assets/logo.png);
}
.Form
{
}
.ProductImage
{
  width: 100%;
  height: 220px;
  margin: 18px 0px;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  background-color: #434343;
  background-image: url(../../assets/empty.png);
}
.balanceValue
{
  width: 100%;
  height: 30px;
  outline: none;
  display: flex;
  color: #fff;
  font-weight: bold;
  border-style: none;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  border: 2px solid #00a468;
  background-color: #00a468;
}
@media (width: 1366px){
  .ProductImage
  {
    display: none;
  }
  .PanelLeft .CompanyInfo .CompanyImage 
  {
    width: 45px;
    height: 45px;
  }
  .PanelLeft .CompanyInfo .CompanyName
  {
    font-size: 18px;
    color: #e6e6e6;
    font-weight: bold;
  }
}
  