.header
{
    top: 0;
    left: 0;
    right: 0;
    height: 128px;
    padding: 20px 0;
    position: absolute;
}

.header .container
{
    height: 128px;
    position: relative;
}

.header .container .logo
{
    float: left;
    width: 228px;
    height: 128px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/logo.png);
}

.header .container label
{
    color: #fff;
}

.header .container .companies,
.header .container .reference
{
    float: left;
    margin-top: 58px;
    margin-left: 38px;
}

.header .container .reference
{
    width: 138px;
    margin-left: 30px;
}

.header .container .reference div[role="combobox"]
{
    width: 134px;
    font-size: 16px;
    padding: 12px 32px 11px 12px
}

.header .container .companies .rs-picker-toggle,
.header .container .reference div[role="combobox"]
{
    border-radius: 4px;
    border: 1px solid #419744;
    background-color: #333 !important;
}

.header .container .reference div[role="combobox"] span
{
    color: #fff;
    text-align: center;
}

.rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-caret, 
.rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-clean
{
    top: 12px !important;
}

.header .container .reference input
{
    width: 128px;
    color: #fff;
    padding: 10px;
    font-size: 16px;    
    background-color: #333 !important;
}

.header .container .companies
{
    width: 280px;    
}

.header .container .companies .rs-picker-toggle
{   
    width: 280px;
    padding: 12px 32px 11px 12px;   
}

.header .container .companies .rs-picker-toggle span
{
    color: #fff;
    font-size: 16px;
}

.header .container .toggles
{
    top: 16px;
    left: 258px;
    width: 458px;
    position: absolute;
}

.header .container .toggles .toggle
{
    float: left;
    width: 138px;
    margin-right: 38px;
}

.header .container .toggles .toggle b
{
    top: 2px;
    color: #fff;
    font-size: 18px;
    margin-left: 10px;
    position: relative;
}

.header .container .date
{
    float: right;
    font-size: 18px;
    text-align: right;
    color: #419744;
    font-weight: bold;
    text-transform: uppercase;
}