.header
{
    top: 0;
    left: 0;
    right: 0;
    height: 128px;
    padding: 20px 0;
    position: absolute;
}

.header .container
{
    height: 128px;
}

.header .container .logo
{
    float: left;
    width: 228px;
    height: 128px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/logo.png);
}

.header .container label
{
    color: #fff;
}

.header .container .companies,
.header .container .reference
{
    float: left;
    margin-top: 58px;
    margin-left: 38px;
}

.header .container .reference
{
    width: 130px;
}

.header .container .reference input,
.header .container .companies .rs-picker-toggle
{
    border-radius: 4px;
    border: 1px solid #419744;
    background-color: #333 !important;
}

.header .container .reference input
{
    width: 128px;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.header .container .companies
{
    width: 280px;    
}

.header .container .companies .rs-picker-toggle
{   
    width: 280px;
    padding: 12px 32px 11px 12px;   
}

.header .container .companies .rs-picker-toggle span
{
    color: #fff;
    font-size: 16px;
}

.header .container .date
{
    float: right;
    margin-top: 50px;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
}

.header .container .date .time,
.header .container .date .day-of-week
{
    font-size: 18px;
    color: #419744;
}

.header .container .date .day-of-year
{
    color: #fff;
    font-size: 20px;
}