.container .right
{
    top: 0;
    bottom: 0;
    width: 736px;
    margin-left: 464px;
    position: absolute;
}

.container .right .print
{
    right: 0;
    bottom: 0;
    width: 706px;
    height: 350px;
    position: absolute;
    background-size: cover;
    background-image: url(../assets/printer-v5.png);
}

.container .right .paper
{
    left: 180px;
    width: 380px;
    bottom: 308px;
    height: 556px;
    padding: 30px;
    position: absolute;
    background-color: #fbfbb1;
}

.container .right .paper .top
{
    left: 0;
    top: -8px;
    height: 8px;
    width: 100%;
    position: absolute;
    background-position: -1px 0px;
    background-image: url(../assets/top-paper.png);
}

.container .right .paper .header
{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px dashed gray;
}