.tabs
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;
}

.tabs button.btn
{
    color: #fff;
    padding: 12px;
    font-weight: bold;
    position: absolute;
}

.tabs button.btn:nth-child(2)
{
    margin-left: 78px;
}

.tabs .tab
{
    left: 0;
    right: 0;
    top: 38px;
    bottom: 0;
    position: absolute;
    border-radius: 0 8px 8px;    
}

.tabs .tab
{
    background-color: #444;
}

.tabs button:nth-child(1),
.tabs .tab:nth-child(3) .rs-table-row-header,
.tabs .tab:nth-child(3) .rs-table-row-header:hover .rs-table-cell-header .rs-table-cell
{
    color: #fff;
    background-color: #4caf50;
}

.tabs .tab:nth-child(1) .rs-table-cell-header-icon-sort
{
    color: #666;
}

.tabs button:nth-child(2),
.tabs .tab:nth-child(4) .rs-table-row-header,
.tabs .tab:nth-child(4) .rs-table-row-header:hover .rs-table-cell-header .rs-table-cell
{
    color: #fff;
    background-color: #1b5e20;
}

.tabs .tab .rs-table-cell-header-icon-sort
{
    color: #fff;
}